@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
}

.name {
    margin-top: -1.3em;
    margin-left: 5.5em;
}

.message {
    width: max-content;
    background-color: white;
    border-radius: 0.5em;
    /* opacity: 100%; */
    padding: 0.5em;
    margin: 0em 5em 0em 5em;
}

span {
    display: block;
    position: relative;
    top: 4em;
    left: 1em;
    font-size: 14px;
}

.chatTitle {
    /* margin-bottom: 1em; */
    border-bottom: 1px solid #c4c4c4;
}

.chat-messages {
    min-height: 29em;
    max-height: 28em;
    /* opacity: 10%; */
    background-color: #00BFB2;
    padding-top: 0.05em;
    overflow-y: scroll;
}

.text {
    font: 14px 'Nunito', sans-serif;
    /* color: black;  
    background-color: white; */    
}

p.text {
    margin-bottom: 0em;
}

#msg {
    border-radius: 1em;
    border: 1px solid #c4c4c4;
    text-indent: 1em;
}

.meta {
    margin-bottom: 0;
}

