<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>FoodieShare</title>

</head>

<body>

                                      
                            <div class="input-restaurant">
                                <input class="restaurant" type="search" value="inputData" name="inputData" size="20">
                            </div>
  
                            <div class="input_div">
                                <input class="submit_btn" type="submit" value="Post" size="20">
                            </div>

                  

<script src="/javascript/newpost.js" defer></script>
</body>

</html>