<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
    <% if (user) {%> 
    <a href="/posts/create"> CREATE </a>

    <section id="container">

        <header id="header">
            <section class="inner">

                <h1 class="logo">
                    <a href="">
                        <div class="sprite_insta_icon"></div>
                        <div class="sprite_write_logo"></div>
                    </a>
                </h1>

                <div class="search_box">
                    <input type="text" placeholder="Search" id="search-field">

                    <div class="fake_field">
                        <span class="sprite_small_search_icon"></span>
                        <span>Search</span>
                    </div>
                </div>

                <div class="right_icons">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <a href="/posts/create">
                    <span class="material-symbols-outlined">
                        photo_camera
                    </span></a>
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    <span class="material-symbols-outlined">
                        find_replace
                    </span>
                    <span class="material-symbols-outlined">
                        send
                    </span>
                    <span class="material-symbols-outlined">
                        person
                    </span>



                    <!-- <a href="">
                        <div class="sprite_camera_icon"></div>
                    </a>
                    <a href="">
                        <div class="sprite_compass_icon"></div>
                    </a>
                    <a href="">
                        <div class="sprite_heart_icon_outline"></div>
                    </a>
                    <a href="">
                        <div class="sprite_user_icon_outline"></div>
                    </a> -->
                </div>

            </section>

        </header>

        <div class="hidden_menu">
            <div class="scroll_inner">
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>

                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
                <div class="user">
                    <div class="thumb_img"><img src=""></div>
                    <div class="id">Samantha_Rogersrr</div>
                </div>
            </div>
        </div>


        <section id="main_container">
            <div class="inner">

                <div class="contents_box">
                    <article class="contents">
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name m_text">Samantha_Rogers</div>
                                    <div class="country s_text">@On The Run Cafe</div>
                                </div>
                            </div>


                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <div><img
                                        src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2021/10/breakfast-avocado-egg-1200x628-facebook.jpg?w=1575">
                                </div>
                            </div>
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                                </div>
                                <div class="sprite_bubble_icon"></div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                            </div>
                        </div>

                        <div class="likes m_text">
                            <span id="like-count-39">2,346</span>
                            <span id="bookmark-count-39"></span>
                            likes

                        </div>

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="nick_name m_text">Terry_Williams</div>
                                    <div>do they do delivery?</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <div class="timer">1 DAY AGO</div>

                        <div class="comment_field" id="add-comment-post37">
                            <input type="text" placeholder="Add a Comment...">
                            <div class="upload_btn m_text" data-name="comment">POST</div>
                        </div>
                    </article>
                    <article class="contents">
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name m_text">Samantha_Rogers</div>
                                    <div class="country s_text">@On The Run Cafe</div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <div><img src="" alt="visual01"></div>
                            </div>
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                                </div>
                                <div class="sprite_bubble_icon"></div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                            </div>
                        </div>

                        <div class="likes m_text">
                            <span id="like-count-39">2,346</span>
                            likes

                        </div>

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="nick_name m_text">Terry_Williams</div>
                                    <div>do they do delivery?</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <div class="timer">1DAY AGO</div>

                        <div class="comment_field" id="add-comment-post37">
                            <input type="text" placeholder="Add a Comment...">
                            <div class="upload_btn m_text" data-name="comment">POST</div>
                        </div>
                    </article>
                    <article class="contents">
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name m_text"><%= user.first_name %> </div>
                                    <div class="country s_text">@On The Run Cafe</div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <div><img src="" alt="visual01"></div>
                            </div>
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                                </div>
                                <div class="sprite_bubble_icon"></div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                            </div>
                        </div>

                        <div class="likes m_text">
                            <span id="like-count-39">2,346</span>
                            likes

                        </div>

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="nick_name m_text">Terry_Williams</div>
                                    <div>do they do delivery?</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <div class="timer">1DAY AGO</div>

                        <div class="comment_field" id="add-comment-post37">
                            <input type="text" placeholder="Add a Comment...">
                            <div class="upload_btn m_text" data-name="comment">POST</div>
                        </div>
                    </article>
                    <article class="contents">
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name m_text">Samantha_Rogers</div>
                                    <div class="country s_text">@On The Run Cafe</div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <div><img src="" alt="visual01"></div>
                            </div>
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                                </div>
                                <div class="sprite_bubble_icon"></div>
                                <div class="sprite_share_icon" data-name="share"></div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                            </div>
                        </div>

                        <div class="likes m_text">
                            <span id="like-count-39">2,346</span>
                            likes

                        </div>

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="nick_name m_text">Terry_Williams</div>
                                    <div>do they do delivery?</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <div class="timer">1DAY AGO</div>

                        <div class="comment_field" id="add-comment-post37">
                            <input type="text" placeholder="Add a Comment...">
                            <div class="upload_btn m_text" data-name="comment">POST</div>
                        </div>
                    </article>



                </div>
                <input type="hidden" id="page" value="1">

                <div class="side_box">
                    <div class="user_profile">
                        <div class="profile_thumb">
                            <img src="">
                        </div>
                        <div class="detail">
                            <div class="id m_text">Samantha_Roge</div>
                            <div class="ko_name">Samantha Roge</div>
                        </div>
                    </div>

                    <article class="story">
                        <header class="story_header">
                            <div>Story</div>
                            <div class="more">See All</div>
                        </header>

                        <div class="scroll_inner">
                            <div class="thumb_user">
                                <div class="profile_thumb">
                                    <img src="">
                                </div>
                                <div class="detail">
                                    <div class="id">sujikang_0930</div>
                                    <div class="time">1DAY AGO</div>
                                </div>
                            </div>
                            <div class="thumb_user">
                                <div class="profile_thumb">
                                    <img src="">
                                </div>
                                <div class="detail">
                                    <div class="id">sujikang_0930</div>
                                    <div class="time">1DAY AGO</div>
                                </div>
                            </div>
                            <div class="thumb_user">
                                <div class="profile_thumb">
                                    <img src="">
                                </div>
                                <div class="detail">
                                    <div class="id">sujikang_0930</div>
                                    <div class="time">1DAY AGO</div>
                                </div>
                            </div>
                            <div class="thumb_user">
                                <div class="profile_thumb">
                                    <img src="">
                                </div>
                                <div class="detail">
                                    <div class="id">sujikang_0930</div>
                                    <div class="time">1DAY AGO</div>
                                </div>
                            </div>
                            <div class="thumb_user">
                                <div class="profile_thumb">
                                    <img src="">
                                </div>
                                <div class="detail">
                                    <div class="id">sujikang_0930</div>
                                    <div class="time">1DAY AGO</div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="recommend">
                        <header class="reco_header">
                            <div>Suggestions For you</div>
                            <div class="more">See All</div>
                        </header>

                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="">
                            </div>
                            <div class="detail">
                                <div class="id">sujikang_0930</div>
                                <div class="time">1DAY AGO</div>
                            </div>
                        </div>
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="">
                            </div>
                            <div class="detail">
                                <div class="id">sujikang_0930</div>
                                <div class="time">1DAY AGO</div>
                            </div>
                        </div>
                    </article>
                </div>


            </div>
        </section>

    </section>
<% } %> 
</body>

</html>
