<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Foodie Share</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/new_post.css">
    <link rel="shortcut icon" href="imgs/instagram.png">
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section id="container">
        <header id="header">
            <section class="h_inner">
                <h1 class="logo">

                    <div class="sprite_insta_icon"></div>
                    <div>
                        <div class="sprite_write_logo"></div>
                    </div>
                    </a>
                </h1>

                <div class="search_field">
                    <input type="text" placeholder="search" tabindex="0">

                    <div class="fake_field">
                        <span class=sprite_small_search_icon></span>
                        <span>Search</span>
                    </div>
                </div>

                <div class="right_icons">
                    <a href="/">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                    </a>
                    <span class="material-symbols-outlined">
                        photo_camera
                    </span>
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    <span class="material-symbols-outlined">
                        find_replace
                    </span>
                    <span class="material-symbols-outlined">
                        send
                    </span>
                    <a href="/authentication/login">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                    </a>
            </section>
        </header>



        <div id="main_container">
            <div class="post_form_container">
                <form action="/posts/create" method="POST" class="post_form">
                    <div class="title">
                        NEW POST
                    </div>
                    <div class="preview">
                        <div class="upload">
                            <div class="post_btn">
                                <div class="plus_icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>Add Img</p>
                                <canvas id="imageCanvas"></canvas>
                                <!--<p><img id="img_id" src="#" style="width: 300px; height: 300px; object-fit: cover" alt="thumbnail"></p>-->
                            </div>
                        </div>
                    </div>
                    <p>
                        <input type="url" name="url" placeholder="url" name="url" id="id_photo">
                    </p>
                      <p>
                          <input type="file" name="image_url" placeholder="image_url" name="image_url" id="id_photo">
                      </p>
                    <p>
                        <textarea type="text" name="description" id="text_field" cols="50" rows="5"
                        placeholder="description"required="required" ></textarea>
                    </p>
                    <input class="submit_btn" type="submit" value="Post">
                </form>
            </div>
        </div>
    </section>
    <script>
        var fileInput = document.querySelector("#id_photo"),
            button = document.querySelector(".input-file-trigger"),
            the_return = document.querySelector(".file-return");
        // Show image
        fileInput.addEventListener('change', handleImage, false);
        var canvas = document.getElementById('imageCanvas');
        var ctx = canvas.getContext('2d');
        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                // var imgWidth =
                img.onload = function () {
                    canvas.width = 300;
                    canvas.height = 300;
                    ctx.drawImage(img, 0, 0, 300, 300);
                };
                img.src = event.target.result;
                // img.width = img.width*0.5
                // canvas.height = img.height;
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    </script>
</body>

</html>