<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h1>all the product</h1>
<br></br>

<ul>
    <% products.forEach((product)=>{ %> 
        <% console.log(product.imgPATH) %>
        <% console.log(product.imgHERE) %>  
            <% if(product.imgHERE === null) {%> 
                <li><%= product.product_name%> with the price of <% product.price %> and the photo 
                <img src="<%=product.imgPATH%>"</li>
            <% } %> 
    <% }) %> 
</ul>