<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>FoodieShare</title>
</head>

<header id="header">
    <section class="inner">
       <% if(user) {%> 
    <nav id="nav-header">
        <a href="/home"><p> Foodie Share </p></a>
    </nav>
        <% } %> 
        <% if(!user) {%> 
    <nav id="nav-header">
        <p> FoodieShare </p>
    </nav>
   </section>
  </header>
  

<body>
    
    <div class="container">
        <div class="box">
            <div class="heading">
                <img class="logo_burger" src="/icons/logo_burger.svg">
                <img class="wordmark" src="/icons/wordmark.svg">
            </div>

            <div class="form-container">
                <form class="login-form" action="/" method="POST">
                    <div class="field">
                        <input class="inputbox" name="first_name" placeholder="First name">
                    </div>
                    <div class="field">
                        <input class="inputbox" name="last_name" placeholder="Last name">

                    </div>
                    <div class="field">
                        <input class="inputbox" name="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <input class="inputbox" type="password" name="Password" placeholder="password">
                    </div>
                    <button class="login-button" type="submit">Sign Up</button>
                </form>
            </div>




            <div class="separator">

                <div class="loginText">Already singed Up?</div>

                <a href="/authentication/login">Log In</a>
                
                
            </div>

            <br>
            <div class="buttons">
                <br>

                <form action="#" method="get">
                    <img src="/icons/facebook.svg">
                </form>

                <form
                    action="#"
                    method="get">
                    <img src="/icons/google.svg">
                    <br>
                </form>
                <form action="#" method="get">
                    <img src="/icons/apple.svg">
                    <br>
                </form>


            </div>
        </div>
        <% } %> 
        <% if (user) {%>  
            Hello <%= user.first_name %> ! 
            <form class="login-form" action="/authentication/logout" method="POST">   
                  <button class="login-button" type="submit">Log Out</button>
              </form>
          <%  } %> 
</body>

</html>