*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-wrap{
  display: flex;
  justify-content: center;
}

.posts-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-header{
  height: 14vh;
}

.profile-img{
  width: 85px;
  height: auto;
  object-fit: scale-down;
  border-radius: 50%;
}
.form-select {
  width: 15%;
  }
.primary-color{
  color: #1A5E63;
  font-size: medium;
}

.second-color{
  color: #00BFB2;
}

.content-img{
  /* width: 25em;
  height: 25em;
  object-fit: cover;
  margin-top: 10%; */
  overflow: hidden;
  transition: 0.5s;
}

.comment_field {
  /* min-height: 56px; */
  padding: 0 20px;
}
.comment_field input {
  height: 40px;
  border: none;
  /* background: transparent; */
}

.comment_field .upload_btn {
  color: #00BFB2;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.m_text {
  font-size: 14px;
  font-weight: bold;
}

.card{
  margin: 5%;
  /* transition: 0.5s; */
}

nav a {
  text-decoration: none;
  color:black;
  margin: 1em;
  font-size: 2em;
  /* display: flex;
  justify-content: center;
  margin-bottom: 2em; */
}

/* nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
} */

.horizontal-underline{
  position: absolute;
  left:0;
  height: 4px;
  width: 0px;
  border-radius: 3px;
  transition: 0.5s;
  background-color: #1A5E63;
  /* top:0; */

  /* top:50px;
left: 30px;
height: 4px;
width: 100; */

}

.bottom-nav{
  display: flex;
  justify-content: space-evenly;
  background-color: #F5F5F5;
}
.nav-btn{
  margin: 0!important;
}

/* .moreBtn {

position: absolute;
left: 100%;
right: -69.57%;
top: 0%;
bottom: -43.75%;
} */


/* .displayNone {
  display: none;
} */


.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: var(--lightest);
  z-index:10;

  
}

/* .card{
  position: absolute;
width: 375px;
height: 375px;

} */